.titleCat {
  text-transform: uppercase;
  color: var(--textColorLinkDark);
}

.titleRes {
  margin-bottom: 0;
  color: var(--textColorLinkDark);
  text-transform: uppercase;
}

.listItemCat {
  padding: 8px 0;
}

.btn {
  margin-top: 20px;
  width: 120px;
  padding: 5px 5px;
  border: 2px solid var(--textColorLink);
  text-align: center;
  background-color: var(--textColorLink);
  cursor: pointer;
  font-weight: bold;
  color: white;
}

@media screen and (min-width: 1200px) {
  .btn:hover {
    transform: translateY(1px);
    transition-duration: 0.5s;
    background-color: transparent;
    color: var(--textColorLink);
  }
}
