.titleCat {
  text-transform: uppercase;
  color: var(--textColorLinkDark);
}

.titleRes {
  margin-bottom: 0;
  color: var(--textColorLinkDark);
  text-transform: uppercase;
}

.listItemCat {
  padding: 8px 0;
}
